*.m
.DS_Store
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
pixel.sublime-project
pixel.sublime-workspace
build/
_build/
*.zip
*.psd
*.app*
*.app/
*.qmake*
deps/
doc/
docs/
doxygen/
